
<div class="wrapper" [ngStyle]="template()">

      <div class="blank"></div>

      <md-card class='header' *ngFor="let x of xheaders; let i = index" [ngStyle]="xheader(i+1)">
        <md-card-subtitle>
          
        </md-card-subtitle>

        <md-card-title>
          {{x.title}}
        </md-card-title>

        <md-card-content>{{x.description}}</md-card-content>
        
      </md-card>

      

      <md-card class='header' *ngFor="let y of yheaders; let i = index" [ngStyle]="yheader(i+1)">
        <md-card-subtitle>
          
        </md-card-subtitle>
        <md-card-title>{{y.title}}</md-card-title>
        <md-card-content>{{y.description}}</md-card-content>
      </md-card>

      <md-card *ngFor="let group of groups">
        <md-card-subtitle>
         
        </md-card-subtitle>
        <md-card-title>{{group.title}}</md-card-title>
        <md-card-content>{{group.description}}</md-card-content>
        

      <!--   <md-card-actions>
            <button md-button color="primary" (click)="openDialogAddStudent(group)">Add Students</button>
            <button md-button color="primary" (click)="openDialogRemoveStudent(group)">Students</button>
          </md-card-actions> -->
      </md-card>
      
</div>

<br>
