<md-list>
  <md-list-item *ngFor="let resource of resources">
    <h3 md-line> {{resource.title}} </h3>
    <p md-line>
      <span><a href="/{{resource.url}}" target="_blank">{{resource.url}}</a></span>
    </p>
    <button md-icon-button (click)="remove(resource.$key)">
      <md-icon style="font-size: 15px">close</md-icon>
    </button>
  </md-list-item>
</md-list>

<button md-icon-button *ngIf="openString!==blockKey" (click)="open()">
	<md-icon>add</md-icon>
</button>

<button *ngIf="openString===blockKey" md-icon-button (click)="close()">
  <md-icon>close</md-icon>
</button>

<div style="clear: right"></div>

<form *ngIf="openString===blockKey" novalidate [formGroup]="form" (keyup.enter)="create(form)">


      <md-input-container style="width: 100%">
         <input  formControlName="title" mdInput placeholder="Title">
      </md-input-container>

      
      <md-input-container style="width: 100%">
           <input formControlName="url" mdInput placeholder="Url Link">
      </md-input-container>
       
</form> 