<app-learning-experience-block-template-form  (formSend)="getForm($event)"></app-learning-experience-block-template-form>

<br>



<button md-button (click)="openDialogPiece()">Create Assessment Piece</button>




<div class="wrapper" [ngStyle]="template()">

	<div class="blank"> BlANK</div>

	<div *ngFor="let element of xheaders; let i = index" [ngStyle]="xheader(i+1)">
  		{{element}}
  		{{i+1}}
    </div>

    <div *ngFor="let element of yheaders; let i = index" [ngStyle]="yheader(i+1)">
  		{{element}}
  		{{i + 1}}
    </div>

	
 

	<div class="box" *ngFor="let group of groups">
		<h5>{{group.title}}</h5>
		<p>{{group.description}}</p>
	</div>

</div>