.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
  border-bottom: 2px solid grey;
  
}

.heading {
	background-color: #673AB7;
	color: white;
	padding: 5px;
}

.items {
	background-color: #FFFFFF;
	padding: 5px;
}

.highlight {
	background-color: #dcdcdc;
}

.row2 {
		background-color: #dcdcdc;
        grid-column: 1 / 7;
        grid-row: 2;
        padding: 20px;
    }

md-tab-group {
	background-color: inherit;
}