.wrapper {
	display: grid;
  	height: 100vh;
}
/*@media print {
  main {
    grid: auto-flow 1fr / repeat(auto-fill, 5em);
  }
}*/


.grid-item {
  grid-column: auto;
  grid-row: auto;
}

/*display: grid;
    grid-template-columns: 20px;
    grid-auto-columns: 40px;
    grid-template-rows: 20px;
    grid-auto-rows: 40px;*/