<md-accordion>

<md-expansion-panel *ngFor="let piece of filtered?.slice().reverse()">
	  
	<md-expansion-panel-header>
	    <md-panel-title>
	      <my-student-group *ngIf="blocks" [group]="blocks[piece.block]"></my-student-group>
	      <my-student-block class="group" *ngIf="groups&&blocks" [block]="groups[piece.group]"></my-student-block>
	    </md-panel-title>
	    <md-panel-description>
	    	<group-year-item *ngIf="groups&&blocks&&years"[year]="years[piece.year]"></group-year-item>
	    	<group-level-item *ngIf="groups&&blocks&&levels" [level]="levels[piece.level]"></group-level-item>
	    	<group-area-item *ngIf="groups&&blocks&&areas"[area]="areas[piece.area]"></group-area-item>


	    	<div class="mark descriptor" *ngIf="piece.qualifier==='x'">
	    	{{piece?.xheader}}
	    	</div>
			<div class="mark descriptor" *ngIf="piece.qualifier==='y'">
			{{piece?.yheader}}</div>

			<div class="mark qualifier" *ngIf="piece.qualifier==='x'">
			{{piece?.yheader}}</div>
			
			<div class="mark qualifier" *ngIf="piece.qualifier==='y'">
			{{piece?.xheader}}</div>

	    </md-panel-description>
	</md-expansion-panel-header>
	<md-tab-group>
			<md-tab label="Resources">
				<app-my-student-resources 
				[blockKey]="piece.$key"
				></app-my-student-resources>
			</md-tab>
			<md-tab label="Message Board">
				<app-posts-list>
					
				</app-posts-list>
			</md-tab>

			<md-tab label="Conversation">
			</md-tab>

			<md-tab label="Matrix">
				<app-my-student-learning-piece *ngIf="blocks&&learningPieceMatrix"
					[learningPieceMatrix]="learningPieceMatrix"
					[learningBlock]="blocks[piece.block]"
					[learningPieceKeys]="learningPieceKeys">			
				</app-my-student-learning-piece>
			</md-tab>		
	</md-tab-group>	  					
</md-expansion-panel>


</md-accordion>