.mark {
	min-width: 30%;
	max-width: 30%;
}

.group {
	color: grey;
}

.qualifier {
	text-transform: uppercase;
}

.descriptor {
	color: black;
}


md-panel-title {
	min-width: 25%;
	max-width: 25%;
	text-overflow: ellipsis;
}

my-student-block  {
	min-width: 50%;
	max-width: 50%;
	text-overflow: ellipsis;
}

my-student-group {
	min-width: 50%;
	max-width: 50%;
	text-overflow: ellipsis;
}

group-year-item {
	min-width: 10%;
	max-width: 10%;
	text-overflow: ellipsis;

}
group-level-item {
	min-width: 10%;
	max-width: 10%;
	text-overflow: ellipsis;
}

group-area-item {
	min-width: 20%;
	max-width: 20%;
	text-overflow: ellipsis;
}