<!-- Things to eventually add
- Student Notes See trello
- Student Goals
- Student Pathways and Aspirations Data
- Student formative and summative repository of Digital Work. Organised aginst their achievement
 -->

		<app-my-student-info *ngIf="studentInfo"
		[student]="studentInfo">
		</app-my-student-info>


		<!-- // learning Piece Keys can prob be created from learningPieceMatrix 
		*ngIf="learningPieceMatrix&&studentlearning&&learningPieceKeys&&enrolledBlocks&&levels&&areas&&blocks&&groups"
		-->
		<app-my-student-learning
		*ngIf="studentLearningObject&&enrolledBlocks&&groups&&blocks"
		[student]="studentInfo"
		[studentLearningObject]="studentLearningObject"
		[enrolledBlocks]="enrolledBlocks"
		[groups]="groups" 
		[blocks]="blocks"
		[areas]="areas"
		[levels]="levels"
		[years]="years"		
		>
		</app-my-student-learning>


		<!-- <md-tab-group #tab >	
  			<md-tab label="Attained">
  				<app-my-student-group-exp-panel *ngIf="tab.selectedIndex == 0 && studentLearning&&levels&&areas&&years&&blocks&&groups&&learningPieceMatrix"
  				[learningPieceMatrix]="learningPieceMatrix"
				[studentFirebase]="studentLearning"
				[levels]="levels"
				[areas]="areas"
				[years]="years"			
				[blocks]="blocks"
				[groups]="groups"
				[learningPieceKeys]="learningPieceKeys">
				</app-my-student-group-exp-panel>
			</md-tab>

			<md-tab label="Enrolled">
	  			<app-my-student-enrolled-exp-panel 
	  			*ngIf="tab.selectedIndex == 1 && enrolledBlocks&&levels&&areas&&years&&groups"
	  			[enrolledBlocks]="enrolledBlocks"
	  			[levels]="levels"
				[areas]="areas"
				[years]="years"			
				[groups]="groups"
	  			> 				
	  			</app-my-student-enrolled-exp-panel>
			</md-tab>		
		</md-tab-group> -->


		




	    




