<!-- Things to eventually add
- Student Notes See trello
- Student Goals
- Student Pathways and Aspirations Data
- Student formative and summative repository of Digital Work. Organised aginst their achievement
 -->



		<app-my-student-info
		[student]="studentInfo">
		</app-my-student-info>

		<app-my-student-focus
		[group]="chosenGroup"
		[block]="chosenBlock"
		[learningPieceKeys]="learningPieceKeys">
		</app-my-student-focus>

		<app-my-student-group 
			[studentFirebase]="studentLearning"
			[levels]="levels"
			[areas]="areas"		
			[blocks]="blocks"
			[groups]="groups"
			(sendData)="handleData($event)">
		</app-my-student-group>




	    




