:host {
  margin: 40px;
}

    .wrapper {
        margin-bottom: 5px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(8, 1fr ) ;
        background-color: #fff;
        color: #444;
    }

    .box {
        display: grid;
        grid-gap: 1px;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

    .flamenco {
        display: grid;
        grid-template-columns: repeat(1, 1fr );
    }

    .flamenco-description {
        display: grid;
        grid-template-columns: repeat(3, 1fr );
    }

    .description {
    }


    .box .box {
        background-color: #fff;
        color: #444;
    }

    .vertical-text {
        transform: rotate(90deg);
        float: left;
    }

    