<app-my-student-info *ngIf="studentInfo"
    [student]="studentInfo">
</app-my-student-info>


<div class="outer">
  <div class="wrapper" [ngStyle]="template()">

        <div class="blank">
          <button (click)="backClicked()" 
            md-icon-button><md-icon>arrow_back</md-icon></button>
        </div>

        <md-card class='header' *ngFor="let x of xheaders; let i = index" [ngStyle]="xheader(i+1)">
          <md-card-subtitle>
            
          </md-card-subtitle>

          <md-card-title>
            {{x.title}}
          </md-card-title>

          <md-card-content>{{x.description}}</md-card-content>

          
        </md-card>

        

        <md-card class='header' *ngFor="let y of yheaders; let i = index" [ngStyle]="yheader(i+1)">
          <md-card-subtitle>
            
          </md-card-subtitle>
          <md-card-title>{{y.title}}</md-card-title>
          <md-card-content>{{y.description}}</md-card-content>
        </md-card>

        <md-card *ngFor="let group of groups" [class.highlight]="highlight(group?.$key)">
          <md-card-subtitle>
           
          </md-card-subtitle>
          <md-card-title>{{group.title}}</md-card-title>
          <md-card-content>{{group.description}}</md-card-content>
          

          <md-card-actions *ngIf="user?.role?.admin || user?.role?.teacher">
              <button *ngIf="!highlight(group?.$key)" md-button color="primary" (click)="addStudent(group?.$key)">Add</button>
              <button *ngIf="highlight(group?.$key)" md-button color="primary" (click)="removeStudent(group?.$key)">Remove</button>         
            </md-card-actions>
        </md-card>
        
  </div>
</div>

