<md-toolbar>

<button md-icon-button [mdMenuTriggerFor]="infoMenu"> <md-icon>info</md-icon></button>

<md-menu #infoMenu="mdMenu">
  <button md-menu-item (click)="openLearningAreaList()"><md-icon>info</md-icon>Area</button>
  <button md-menu-item (click)="openLearningLevelList()"><md-icon>info</md-icon>Level</button>
  <button md-menu-item (click)="openLearningYearList()"><md-icon>info</md-icon>Year</button>
</md-menu>


<button md-icon-button (click)="openDialogGroup()"> <md-icon>add</md-icon></button>

<button md-icon-button (click)="normal()"><md-icon>folder</md-icon></button>
<button md-icon-button (click)="showArchived()"><md-icon>archive</md-icon></button>


</md-toolbar>

  <div class="wrapper">

  <md-card class="grid-item" *ngFor="let group of filtered">

    <md-card-subtitle> 
    <md-icon *ngIf="group.archived">archive</md-icon>

    <group-support-item [area]="areas[group?.learningArea]"
                     [year]="years[group?.learningYear]"
                     [level]="levels[group?.learningLevel]"
                     
    ></group-support-item>
    
    <button class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
       <md-icon>more_vert</md-icon>
    </button>  
    </md-card-subtitle>

  	<md-card-title>{{group.title}}</md-card-title>

  	<md-card-content>{{group.description}}
    </md-card-content>

  	<md-card-actions *ngIf="group.locked">
  	    <a md-button color="primary" routerLink="{{group.$key}}">Assessment Blocks</a>
        <button md-button color="primary" (click)="openDialogFindStudent(group)">Students</button>
        <a md-button color="primary" [routerLink]="['/overview', group.$key ]">Overview</a>
  	</md-card-actions>
    <md-card-footer>
    </md-card-footer>

  <!--   <a [routerLink]="['EnvioID',{id:text'}]">Go</a> -->

  <md-menu #appMenu="mdMenu">
    <button md-menu-item *ngIf="!group.locked" (click)="remove(group.$key)"><md-icon>delete</md-icon></button>
    <button md-menu-item *ngIf="!group.locked" (click)="edit(group.$key)"><md-icon>edit</md-icon></button>
    <button md-menu-item *ngIf="!group.locked" (click)="lock(group.$key)"><md-icon>lock</md-icon></button>
    
    <button md-menu-item *ngIf="!group.archived&&group.locked" (click)="archive(group.$key)"><md-icon>archive</md-icon></button>

    <button md-menu-item *ngIf="group.archived&&group.locked" (click)="unarchive(group.$key)"><md-icon>unarchive</md-icon></button>
  </md-menu>

  </md-card>
  </div>

  <router-outlet></router-outlet>