<md-toolbar>
  <button md-button (click)="openLearningLevelList()">Learning Levels</button>

  <button md-icon-button [mdMenuTriggerFor]="addMenu"> <md-icon>add</md-icon></button>

  <md-menu #addMenu="mdMenu">
    <button md-menu-item (click)="openDialogBlock()"><md-icon>add</md-icon>Block</button>
    <button md-menu-item (click)="createLearningLevel()"><md-icon>add</md-icon>Learning Level</button>
  </md-menu>

  <button md-icon-button (click)="normal()"><md-icon>folder</md-icon></button>
  <button md-icon-button (click)="showArchived()"><md-icon>archive</md-icon></button>
</md-toolbar>


  <md-card>
    <md-card-subtitle> 
    <md-icon *ngIf="learningGroup?.archived">archive</md-icon>
     <group-area-item [area]="areas[learningGroup?.learningArea]"></group-area-item>    
    </md-card-subtitle>
    <md-card-title>{{learningGroup?.title}}</md-card-title>
    <md-card-content>{{learningGroup?.description}}
    </md-card-content>  
    <md-card-footer>
    </md-card-footer>
  </md-card>

 
<div class="wrapper">
  <md-card class="grid-item" *ngFor="let group of filtered">
    <md-card-subtitle>
      <md-icon *ngIf="group.archived">archive</md-icon>
      <group-level-item [level]="levels[group?.learningLevel]"></group-level-item>
      <button class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
         <md-icon>more_vert</md-icon>
      </button>
    </md-card-subtitle>

  	<md-card-title>{{group?.title}}</md-card-title>
  	<md-card-content>{{group?.description}}</md-card-content>

  	<md-card-actions *ngIf="group.locked">
  	    <a md-button color="primary" routerLink="{{group.$key}}">Assessment</a>
        <button md-button color="primary" (click)="openDialogFindStudent(group)">Students</button>
  	  </md-card-actions>

    <md-menu #appMenu="mdMenu">
      <button md-menu-item *ngIf="!group.locked" (click)="remove(group.$key)"><md-icon>delete</md-icon></button>
      <button md-menu-item *ngIf="!group.locked" (click)="edit(group.$key)"><md-icon>edit</md-icon></button>
      <button md-menu-item *ngIf="!group.locked" (click)="lock(group.$key)"><md-icon>lock</md-icon></button>
      <button md-menu-item *ngIf="!group.archived&&group.locked" (click)="archive(group.$key)"><md-icon>archive</md-icon></button>
      <button md-menu-item *ngIf="group.archived&&group.locked" (click)="unarchive(group.$key)"><md-icon>unarchive</md-icon></button>
    </md-menu>
  </md-card>
  </div>

  <router-outlet></router-outlet>