<div md-dialog-title>Add Students to {{group.title}}</div>

<md-input-container>
    <input mdInput placeholder="Search"(keyup)="search(input.value)" #input>
</md-input-container>

<div md-dialog-content>
  <md-list>
    <md-list-item *ngFor="let student of filtered">
    {{student.firstName}} {{student.lastName}} <p>{{student.yrlvl}}</p>
    <button class="right" md-icon-button (click)="addStudents(student)"><md-icon>add</md-icon></button>
    </md-list-item>
  </md-list>
</div>


<div md-dialog-actions>
  <md-chip-list *ngFor="let student of students2Add">
    <md-chip>{{student.firstName}} {{student.lastName}}</md-chip>
  </md-chip-list>
</div>

<button class="right" md-button (click)="createResult()">Add to {{group.title}}</button>




  
