.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.column-left {
  grid-column: 1 / 2;
}

.column-right {
  grid-column: 2 / 4;
}

