/*.wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat(1, 1fr)
      }*/

/*@media only screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns : repeat(5, 1fr)
    }
}

@media only screen and (max-width: 767px) {
    
    .wrapper {
        grid-template-columns : repeat(1, 1fr)
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
   
    .wrapper {
        grid-template-columns : repeat(1, 1fr)
    }
}*/


@media screen and (min-width: 900px) {
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat(5, 1fr)
      }
}

@media screen and (min-width: 767px) {
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat(3, 1fr)
      }
}

@media screen and (min-width: 400px) {
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat(1, 1fr)
      }
   /*   h4 {
        max-width: 100px;
        text-overflow: ellipsis;
      }*/
}

.highlight {
  min-width: 50px;
  margin-left: 2px ;
  margin-right: 2px ;
  background: #D1C4E9;
  color: black;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
}

.innerlist {
  border-left: solid grey 1px;
}

.green {
  background: green;
  color: white;
  min-width: 50px;
}

md-list-item p{
  color: grey;
}

h4 {
  max-width: 75%;
}