<md-toolbar color="white">
  <span>Application Title</span>

<button [mdMenuTriggerFor]="menu" class="right" md-icon-button>
<md-icon>account_circle</md-icon>
</button>

<md-menu #menu="mdMenu">
  <button md-menu-item>Signed in as {{ (user | async)?.displayName}}</button>
  <button (click)="logout()" md-menu-item>Sign Out</button>
  <button (click)="login()" md-menu-item>Sign In</button>
</md-menu>


</md-toolbar>



<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link" 
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive" 
     >{{link.label}}
  </a>
</nav>



<router-outlet></router-outlet>

<!-- //   routerLinkActive #rla="routerLinkActive"
//   [active]="rla.isActive"> -->