<md-toolbar color="primary">
  <a class="home" routerLink="" md-button>Rond</a>

  <a routerLink="users" *ngIf="user?.role.admin" md-button>Users</a>

<button *ngIf="!user" [mdMenuTriggerFor]="menu" class="right" md-icon-button>
<md-icon>account_circle</md-icon>
</button>

<md-menu #menu="mdMenu">
  <button (click)="login()" md-menu-item>Sign In</button>
</md-menu>

<button *ngIf="user" [mdMenuTriggerFor]="menuIn" xPosition="right" yPosition="below" class="right" md-button>
{{ user.profile.email }}
</button>

<md-menu #menuIn="mdMenu">
  <button (click)="logout()" md-menu-item>Sign Out</button>
</md-menu>


</md-toolbar>

<app-menu *ngIf="user" [user]="user"></app-menu>

<router-outlet></router-outlet>

