<!-- <md-toolbar>
  <a routerLink="groups">Groups</a>
</md-toolbar>
 -->

<!-- <md-list>
	<md-list-item >
		<img mdListAvatar src="{{user.photoUrl}}" alt="...">
	 	<p mdLine><span> {{user.email}}</span></p>
	<!--  	<button class="right" md-icon-button (click)="remove(user.$key)">
	 		<md-icon>delete</md-icon>
	 	</button> -->
<!-- 	</md-list-item>
</md-list> --> 




	<md-expansion-panel *ngFor="let user of users">
	  <md-expansion-panel-header>
	    <md-panel-title>
	      {{user.profile.email}}
	    </md-panel-title>
	    <md-panel-description>
	      
	    </md-panel-description>
	  </md-expansion-panel-header>
	  
		{{ user.role | json}}

		<md-input-container>
    		<input mdInput placeholder="Add Role" (keyup.enter)="change(true, user.$key, inputAdd.value)" #inputAdd>
  		</md-input-container>

  		<md-input-container>
    		<input mdInput placeholder="Delete Role" (keyup.enter)="change(false, user.$key, inputDelete.value)" #inputDelete>
  		</md-input-container>

	</md-expansion-panel>


