<md-toolbar>

<button md-icon-button [mdMenuTriggerFor]="infoMenu"> <md-icon>info</md-icon></button>

<md-menu #infoMenu="mdMenu">
  <button md-menu-item (click)="openLearningAreaList()"><md-icon>info</md-icon>Area</button>
  <button md-menu-item (click)="openLearningLevelList()"><md-icon>info</md-icon>Level</button>
  <button md-menu-item (click)="openLearningYearList()"><md-icon>info</md-icon>Year</button>
</md-menu>


<button md-icon-button (click)="openDialogGroup()"> <md-icon>add</md-icon></button>

<button md-icon-button (click)="normal()"><md-icon>folder</md-icon></button>
<button md-icon-button (click)="showArchived()"><md-icon>archive</md-icon></button>


</md-toolbar>

