<div class="wrapper" *ngIf="block.title">
<md-card>
  	<md-card-title>{{group?.title}}</md-card-title>
  	<md-card-subtitle>
    <group-area-item [area]="group.learningArea"></group-area-item>
    <group-level-item [level]="group.learningLevel"></group-level-item>
    </md-card-subtitle>
  	<md-card-content>{{group?.description}}</md-card-content>
 </md-card>

 <md-card>
  	<md-card-title>{{block?.title}}</md-card-title>
  	<md-card-content>{{block?.description}}</md-card-content>
 </md-card>
 </div>
 <app-my-student-learning-piece
 [learningBlock]="block"
 [learningPieceKeys]="learningPieceKeys">
</app-my-student-learning-piece>





