  .full-width {
      width: 100%;
      font-size: 25px;
      font: Roboto;
      text-align: center;
    }

    @media screen and (min-width: 480px){
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat( 1, 1fr)
      }
    }

    @media screen and (min-width: 600px) {
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat( 3, 1fr)
      }
    }

    @media screen and (min-width: 1024px) {
      .wrapper {
        display: grid;
        height: auto;
        grid-template-columns : repeat( 5, 1fr)
      }
    }

.right  {
      position: absolute;
      top: 8px;
      right: 16px;
    }