:host {
  display: flex;
  flex-direction: row;
}

.items {
	margin: 5px;
	padding: 5px;
	overflow-x: hidden;
}

.description {
	border-left: solid red;
	min-width: 15%
	

}

.date {
	border-left: solid yellow;
	min-width: 15%;
}

.heading {
/*	border-left: solid green; */
	min-width: 15%;
}