<md-card *ngIf="group.$key">
    <md-card-subtitle>
      <button class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
         <md-icon>more_vert</md-icon>
      </button>        
    </md-card-subtitle>
    <md-card-title>{{group.title}}</md-card-title>
    <md-card-content>{{group.description}}</md-card-content>

    <md-menu #appMenu="mdMenu">
      <button md-menu-item (click)="removePiece()">Remove</button>
      <button md-menu-item (click)="openDialogEditPiece(group.$key)">Edit</button>
      <button md-menu-item> Lock </button>
    </md-menu>

    <md-card-actions>
        <button md-button color="primary" (click)="openDialogAddStudent(group)">Add Students</button>
        <button md-button color="primary" (click)="openDialogRemoveStudent(group)">Students</button>
    </md-card-actions>
</md-card>