<div class="container">
<div class="items heading mat-body-2">Learning Area</div>
<!-- <div class="items description mat-body-1"></div> -->

<div class="items heading mat-body-2">Learning Experience</div>
<!-- <div class="items description mat-body-1"></div> -->

<div class="items heading mat-body-2">Attainment</div>
<!-- <div class="items description mat-body-1"></div> -->

<div class="items heading mat-body-2"></div>
<!-- <div class="items description mat-body-1"></div> -->
</div>



<app-my-student-group-item *ngFor="let item of studentFirebase?.slice().reverse(); let last = first"
[last]="last"
[highlightKey]="key"
[itemData]="item"
(sendData)="handleData($event)"
(sendKey)="handleKey($event)">		
</app-my-student-group-item>







	 

<!-- 
<div class="header">
Header
</div>

<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>
<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>
<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>

<div class="header">
Header
</div>

<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>
<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>
<div class="container">
	<div class="heading">Header</div>
	<div class="description">Current Desciprtion</div>
	<div class="date">Date</div>
	<div class="description">Goal Description</div>
	<div class="date">Date</div>
</div>  -->