.container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  border-bottom: 2px solid grey;
  
}

.heading {
	background-color: #673AB7;
	color: white;
	padding: 5px;
}

.items {
	background-color: #FFFFFF;
	padding: 5px;
}

.highlight {
	background-color: #FFEB3B;
}

