<md-toolbar>
  <button md-icon-button [mdMenuTriggerFor]="appMenu"> <md-icon>add</md-icon></button>
  <button md-button (click)="openCohorts()">Cohorts</button>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item (click)="openDialogHeader()"><md-icon>add</md-icon>Header</button>   
    <button md-menu-item (click)="openDialogCreatePiece()"><md-icon>add</md-icon>Assessment</button>
  </md-menu>

</md-toolbar>




<div class="wrapper" [ngStyle]="template()">

      <div class="blank">
        <div *ngIf="cohortb">
          <md-card-subtitle>
            <button md-icon-button class="right" (click)="cohortb=false"><md-icon>delete</md-icon></button>        
          </md-card-subtitle>
          <md-card-title>
            {{cohort.title}}
          </md-card-title>

          <md-card-content>{{cohort.description}}</md-card-content>
        </div>                                             
      </div>

      <md-card class='header' *ngFor="let y of yheaders; let i = index" [ngStyle]="xheader(i+1)">
        <md-card-subtitle>
          <md-icon *ngIf="!y.locked">lock_open</md-icon>
          <md-icon *ngIf="y.purpose==='descriptor'">description</md-icon>
          <md-icon *ngIf="y.purpose==='qualifier'">swap_vert</md-icon>
          
          <!-- <md-icon *ngIf="group.locked">lock</md-icon> -->
          <button *ngIf="!y.locked" class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
             <md-icon>more_vert</md-icon>
          </button>        
        </md-card-subtitle>

        <md-card-title>
          {{y.title}}
        </md-card-title>

        <md-card-content>{{y.description}}</md-card-content>

        <md-menu #appMenu="mdMenu">
          <button md-menu-item (click)="removeYHeader(y.$key)"><md-icon>delete</md-icon></button>
          <button md-menu-item (click)="openDialogEditHeader(y.$key, y.header)"><md-icon>edit</md-icon></button>
          <button md-menu-item (click)="lockHeader(y.$key, y.header)"><md-icon>lock</md-icon></button>
        </md-menu>   
      </md-card>

      

      <md-card class='header' *ngFor="let x of xheaders; let i = index" [ngStyle]="yheader(i+1)">
        <md-card-subtitle>
          <md-icon *ngIf="!x.locked">lock_open</md-icon>
          <md-icon *ngIf="x.purpose==='descriptor'">description</md-icon>
          <md-icon *ngIf="x.purpose==='qualifier'">swap_vert</md-icon>
          
          <!-- <md-icon *ngIf="group.locked">lock</md-icon> -->
          <button *ngIf="!x.locked" class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
             <md-icon>more_vert</md-icon>
          </button>        
        </md-card-subtitle>
        <md-card-title>{{x.title}}</md-card-title>
        <md-card-content>{{x.description}}</md-card-content>

        <md-menu #appMenu="mdMenu">
          <button md-menu-item (click)="removeXHeader(x.$key)"><md-icon>delete</md-icon></button>
          <button md-menu-item (click)="openDialogEditHeader(x.$key, x.header)"><md-icon>edit</md-icon></button>
          <button md-menu-item (click)="lockHeader(x.$key, x.header)"><md-icon>lock</md-icon></button>
        </md-menu>
      </md-card>

      <md-card *ngFor="let group of groups; let i=index">
        <md-card-subtitle>
          <md-icon *ngIf="!group.locked">lock_open</md-icon>
          <!-- <md-icon *ngIf="group.locked">lock</md-icon> -->
          <button *ngIf="!group.locked" class="right" md-icon-button [mdMenuTriggerFor]="appMenu">
             <md-icon>more_vert</md-icon>
          </button>        
        </md-card-subtitle>
        <md-card-title *ngIf="group.title"> {{group.title}}</md-card-title>
        <md-card-content>{{group.description}}</md-card-content>

        <md-menu #appMenu="mdMenu">
          <button md-menu-item (click)="removePiece(group.$key)"><md-icon>delete</md-icon></button>
          <button md-menu-item (click)="openDialogEditPiece(group.$key)"><md-icon>edit</md-icon></button>
          <button md-menu-item (click)="lockPiece(group.$key)"><md-icon>lock</md-icon></button>
        </md-menu>

        <md-card-actions *ngIf="group.locked">
            <button md-button color="primary" (click)="openDialogAddStudent(group)">Add Students</button>
            <button md-button color="primary" (click)="openDialogRemoveStudent(group)">Students</button>
        </md-card-actions>

        <div class="cohort" *ngIf="cohort">
        <md-card-content >       
            <cohort-item
            [cohort]="cohort"
            [cohortData]="cohortData[group.$key]">            
            </cohort-item>
        </md-card-content> 
        <md-card-actions>
          <button md-button color="primary" (click)="compare(cohort.$key, group.$key, students[i])">Calculate</button>
        </md-card-actions>        
        </div>
      </md-card>
      
</div>

<br>




