<div class="mat-elevation-z0" style="margin-top: 7px;" *ngFor="let p of postsForMilestone">
  
  <md-card *ngIf="p.posttype==='comment'" class="md-card-flat post feedback">
  	<md-card-subtitle><b>Feedback | Comment</b>
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
    </md-card-subtitle>
  	<md-card-content>{{p.description}}</md-card-content>
  </md-card>

  <md-card *ngIf="p.posttype==='resource'" class="md-card-flat post resource">
    <md-card-title><b>{{p.posttype}}</b>  {{p.title}}
      <button md-icon-button>
        <md-icon>more_vert</md-icon>
      </button>
    </md-card-title>
    <md-card-content>{{p.description}}

    <hr>
<!-- 
    <trk-url [postID]="p.$key"></trk-url> -->



    </md-card-content>
  </md-card>

  <md-card *ngIf="p.posttype==='work'" class="mat-elevation-z0 post work">
    <md-card-title><b>{{p.posttype}}</b>  {{p.title}}</md-card-title>
    <md-card-content>{{p.description}}

    <hr>

 <!--    <trk-url [postID]="p.$key"
             [org]="org"
             [authuid] = "authuid"> 
    </trk-url> -->

    </md-card-content>
  </md-card>


  <div style="clear: right"></div>



  
  <!--   <trk-replies [postID]="p.$key"
                 [org]="org"
                 [authuid] = "authuid"> </trk-replies> -->
  

  <div style="clear: right"></div>


</div>






<md-card class="mat-elevation-z0">

  <md-tab-group>
    <md-tab label="Comment">  
      <form novalidate [formGroup]="form" (submit)="create(form, 'comment')">

      	    	
      	<md-input-container style="width: 100%">
      	     <textarea formControlName="description" mdInput placeholder=""></textarea>
      	</md-input-container>
          

      <button type="submit" md-raised-button color="primary">Post</button>
      </form> 

    </md-tab>
    <md-tab label="Resource">
    	<p>Create Resource Container</p>

     
      <form novalidate [formGroup]="form" (submit)="create(form, 'resource')">


      	<md-input-container style="width: 100%">
           <input  formControlName="title" mdInput placeholder="Title">
        </md-input-container>

        
        <md-input-container style="width: 100%">
             <textarea formControlName="description" mdInput placeholder="Description"></textarea>
        </md-input-container>
          

      <button type="submit" md-raised-button color="primary">Create</button>
      </form> 

    </md-tab>
    <md-tab label="Work">
    	<p>Create Work Container</p>
     
      <form novalidate [formGroup]="form" (submit)="create(form, 'work')">


      	<md-input-container style="width: 100%">
      	   <input  formControlName="title" mdInput placeholder="Title">
      	</md-input-container>

      	
      	<md-input-container style="width: 100%">
      	     <textarea formControlName="description" mdInput placeholder="Description"></textarea>
      	</md-input-container>


      <button type="submit" md-raised-button color="primary">Create</button>
      </form> 

    </md-tab>

  </md-tab-group>

</md-card>