md-card-subtitle button {
  float: right;
  color: black;
}

md-card-title button {
  float: right;
  color: black;
}


.center {
  margin: auto;
}

.post {
	background-color: #FCFCFC;
  width: 500px;
	margin-bottom: 8px;
	float: right;
}

.post md-card-subtitle b {
  color: #757575;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;

}

form {
  margin-top: 5px;
}

.feedback {
	width: 525px;
	border-left: solid 5px #FCFCFC;

}

.resource {
 	width: 525px;
 	border-left: solid 5px #D1C4E9;
}

/*.resource md-card-title {
	border-bottom: none;
}*/

.work {
	width: 525px;
	border-left: solid 5px #673AB7;	

}



.feedback md-card-title {
	border-top: #cccccc;
	border-top-style: solid;
    border-top-width: 2px;
    border-bottom: none;
}


.feedback md-card-subtitle b {
  color: #757575;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;

}

.resource md-card-title b {
  margin-left: 10px ;
  margin-right: 10px ;
  background: #D1C4E9;
  color: #FFF;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;

}

.resource md-card-title {
  font-size: 15px;

}

.work md-card-title b {
  margin-left: 10px ;
  margin-right: 10px ;
  background: #673AB7;
  color: #FFF;
  font-size: 9px;
  padding: 5px;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;

}

.work md-card-title {
  font-size: 15px;

}

